.chat-main
  .chat-main__group-info
    .chat-main__group-info--text
      .title
        = @group.name
      .name
        Member : 
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group) , class:"edit" do
      = "Edit"

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'